@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
font-family: 'DM Sans, sans-serif;
font-family: 'Poppins, snas-serif;
*/

/* * {
  border: 1px solid red;
} */

:root {
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;

  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);

  --radius: 15px;

  /*Light Mode*/
  --page-bg:var(--white);
  --text-color: var(--black);

  --title-1: var(--accent);
  --box-shadow: 0px 5px 35px rgba(0,0,0,0.25);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
}

.dark {
    /*Dark Mode*/
    --page-bg: #252526;
    --text-color: var(--white);

    --title-1: var(--white); 
    --box-shadow: 0px 5px 35px rgba(0,0,0,0.8);

    --project-card-bg: var(--black);
    --project-card-text: var(--white);
}

html, body {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: -0.5px;
  min-height: 100vh;
  
  background-color: var(--page-bg);
  color: var(--text-color);
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* General */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.none {
  display: none !important;
}

/*Btn Outline */

.btn-outline { 
  display: flex;
  column-gap: 10px;
  align-items: center;

  height: 48px;
  padding: 12px 20px;

  border-radius: var(--radius);
  border: 1px solid black;
  background-color: var(--white);
  color: var(--black);

  transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
  opacity: 0.8;
 }
 
 .btn-outline:active {
   position: relative;
   top: 5px;
 }

/* General */

.section {
  padding: 70px 0;
}

.title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

.title-2 {
    margin-bottom: 20px;
  
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
  
}

/*Project details */

.project-detalis {
  max-width: 865px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-detalis__cover {
  max-width: 100%;
  margin-bottom: 40px;
  border-radius: var(--radius);
  box-shadow: 0px 5px 35px rgba(0,0,0,0.25);
}

.project-detalis__desc {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 30px;
}

/*Content List*/

.content-list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}

.content-list a {
  color: var(--accent);
}

.content-list__item {
  font-size: 18px;
  line-height: 1.5;
}

.content-list__item p+p {
  margin-top: 0.5em;
}


/*Mobile version */

@media (max-width: 620px) {
  .header {
    min-height: unset;
  }
  .header__title {
    font-size: 30px;
  }

  .header__title strong {
    font-size: 40px;
  }

  /*Nav*/

  .nav-row {
    justify-content: space-between;
  }

  .dark-mode-btn {
    order: 0;
  }

  /*General*/

  .section {
    padding: 40px 0;
  }

  .title-1 {
    margin-bottom: 30px;
    font-size: 40px;
  }
  
  .title-2 {
    margin-bottom: 10PX;
    font-size: 30px;
  }

  .contant-list{
    row-gap: 20px;
  }

  .content-list__item {
    font-size: 16px;
  }

  .project {
    min-width: unset;
  }

  .project__title {
    font-size: 20px;
  }

  .project-detalis__desc {
    margin-bottom: 20px;
    font-size: 20px;
  }


  /*Footer*/

  .footer {
   padding: 40px 0 30px;
  }

  .footer__wrapper {
    row-gap: 20px;
  }

  .social {
    column-gap: 20px;
  }

}